<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="Images/logo.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Platus</title>
</head>

<body>

  <header class="header">
    <div class="header-left">
      <img src="../images/PlatusLogo.png" alt="Service Logo" class="logo">
    </div>
    <div class="header-right">
        <div class="graphic-container">
            <img src="../images/HeaderArt.png" alt="Graphic Image" class="graphic">
            <h1>Platus</h1>
            <h2 class="subtitle">Hunger? No longer!</h2>
            <div class="button-container">
                <button class="login" onclick="window.location.href='Login.html'">Sign In / Log In</button>
                <button class="profile" onclick="window.location.href='Profile.html'">Profile</button>
            </div>
        </div>
    </div>
  </header>

  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/recipies">Recipies</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

  <header>
    <h1>Our Recipes</h1>
  </header>

  <!-- Sección de cuadrícula para todas las recetas -->
  <section class="recipe-grid">
      <% recipes.forEach(recipe => { %>
          <div class="recipe-card">
              <a href="/recipies/<%= recipe.idMeal %>">
                  <img src="<%= recipe.strMealThumb %>" alt="<%= recipe.strMeal %>">
                  <h2><%= recipe.strMeal %></h2>
              </a>
          </div>
      <% }) %>
  </section>
  
  <footer class="footer">
    <p>&copy; 2024 Platus. All rights reserved.</p>
  </footer>

</body>
</html>
